<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h3 class="project-tagline">CLARA: Collaborative Learning Agents with Reinforcement Autonomy</h3>
  <a href="https://etri-clara.github.io/learning" class="btn"> 협업 학습 기술   </a>
  <a href="https://etri-clara.github.io/graph" class="btn"> 그래프 신경망 기술   </a>
  <a href="https://etri-clara.github.io/hpo" class="btn"> 분산 최적화 기술  </a>
  <a href="https://etri-clara.github.io/vln" class="btn">   언어시각탐색 기술  </a>
  <a href="https://etri-clara.github.io/hri" class="btn"> 인간상호작용 기술  </a>
  <a href="https://etri-clara.github.io/sgg" class="btn"> 객체 탐지 및 장면그래프기술  </a>
</section>
